<h1>Editing Question</h1>

<%= form_for(@fullsurvey) do |f| %>
  <% if @fullsurvey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fullsurvey.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @fullsurvey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
