<p id="notice"><%= notice %></p>

<h1>Listing Surveys</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr class="success">
      <th>survey</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.created_at %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_fullsurvey_path(survey) %></td>

  </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_fullsurvey_path %>s
