


    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for(@survey, url: createsurvey_path) do |f| %>
      <% if @survey.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    The form contains <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
      <h2>Create a Survey <small>Name it</small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control input-lg' %>
          </div>
        </div>
      </div>
      <hr class="colorgraph">

      <div class="row">

        <div class="col-xs-8 col-sm-12 col-md-6">

          <div style="display:inline-block">
            <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
          </div>

        </div>
      </div>


      <% end %>
  </div>
</div>
