<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
     <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Survey</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="navbar-collapse-4">
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "Active Questions", home_path %></li>
          <li><%= link_to "InActive Questions", inactive_surveys_path %></li>
            <li><%= link_to "Active Surveys", home_survey_path %></li>
           <li><%= link_to "InActive Surveys", home_completedsurvey_path %></li>
           <li><%= link_to "Profile", home_profile_path %></li>
           <li><%= link_to "Admin", admin_path %></li>
           <li>
             <div class="btn btn-default btn-outline btn-circle collapsed" aria-expanded="false" aria-controls="nav-collapse4"> <% if current_user %>
                logged in as <%= current_user.username %>.
                <%= link_to "Log out", logout_path %>
              <% else %>
                <%= link_to "Sign Up", signup_path %>
                <%= link_to "Log in", login_path %>
              <% end %> <i class=""></i> </div>
           </li>
           <li>

           </li>
         </ul>

       </div><!-- /.navbar-collapse -->
     </div><!-- /.container -->
   </nav><!-- /.navbar -->


<%= yield %>

</body>
</html>
